.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper,
header,
aside,
main,
footer {
  border: 1px solid #000;
}
header {
  flex: 0 0 30px;
  overflow: scroll;
}
section {
  flex: 1 1 calc(100% - 60px);
  overflow: hidden;
  display: flex;
}
aside {
  flex: 0 0 60px;
  overflow: scroll;
}
main {
  flex: 1 1;
  overflow: scroll;
}
footer {
  flex: 0 0 30px;
  overflow: scroll;
}
button {
  position: fixed;
  right: 16px;
  bottom: 40px;
}